@keyframes coil-circle-lightup{
    0%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        background-color: rgba(0, 251, 255, 0.232);
        border-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 30px aqua, 0 0 20px aqua;
    }
    20%{
        border-color: transparent;
        box-shadow: 0;
    }
    30%{
        background-color: rgba(0, 251, 255, 0.232);
        border-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 30px aqua, 0 0 20px aqua;
    }
    40%{
        background-color: transparent;
        border-color: transparent;
        box-shadow: 0;
    }
    50%{
        background-color: rgba(0, 251, 255, 0.232);
        border-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 30px aqua, 0 0 20px aqua;
    }
    75%{
        background-color: rgba(0, 251, 255, 0.232);
        border-color: white;
        box-shadow: 0 0 10px aqua inset, 0 0 5px aqua inset, 0 0 15px aqua, 0 0 10px aqua;
    }
    100%{
        background-color: rgba(0, 251, 255, 0.232);
        border-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 30px aqua, 0 0 20px aqua;
    }
}

@keyframes coil-container-anim{
    0%{
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        background-color: #313131;
        box-shadow: 0 0 2.5px white inset, 0 0 15px 3px aqua;
    }
    20%{
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        background-color: #313131;
        box-shadow: 0 0 2.5px white inset, 0 0 15px 3px aqua;
    }
    40%{
        border-color: transparent;
        box-shadow: 0;
    }
    50%{
        background-color: #313131;
        box-shadow: 0 0 2.5px white inset, 0 0 15px 3px aqua;
    }
    75%{
        background-color: #313131;
        box-shadow: 0 0 1px white inset, 0 0 7.5px 1.5px aqua;
    }
    100%{
        background-color: #313131;
        box-shadow: 0 0 2.5px white inset, 0 0 15px 3px aqua;
    }
}

@keyframes coil-anim{
    0%{
        opacity: 0;
        height: 5%;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}

@keyframes screw-lightup{
    0%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    20%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    40%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    75%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 1px white, 0 0 1px white inset, 0 0 2px aqua, 0 0 2px aqua inset;
    }
    100%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
}

@keyframes screw-clamp-anim{
    0%{
        background-color: transparent;
        box-shadow: none;
    }
    100%{
        background-color: rgb(43, 43, 43);
        box-shadow: 0 0 2px aqua, 0 0 2px aqua inset;
    }
}

@keyframes screw-strip-anim{
    0%{
        background-color: transparent;
        box-shadow: none;
    }
    100%{
        background-color: rgb(43, 43, 43);
        box-shadow: 0 0 1px aqua, 0 0 1px aqua inset;
    }
}

@keyframes core-anim{
    0%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px white, 0 0 5px white inset, 0 0 10px aqua, 0 0 10px aqua inset;
    }
    20%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px white, 0 0 5px white inset, 0 0 10px aqua, 0 0 10px aqua inset;
    }
    40%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px white, 0 0 5px white inset, 0 0 10px aqua, 0 0 10px aqua inset;
    }
    75%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    100%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px white, 0 0 5px white inset, 0 0 10px aqua, 0 0 10px aqua inset;
    }
}

@keyframes tunnel2-fx{
    0%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 7px aqua, 0 0 7px aqua inset;
    }
    20%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 7px aqua, 0 0 7px aqua inset;
    }
    40%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 7px aqua, 0 0 7px aqua inset;
    }
    75%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    100%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 7px aqua, 0 0 7px aqua inset;
    }
}

@keyframes tunnel1-fx{
    0%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 10px 3px aqua, 0 0 10px 3px aqua inset;
    }
    20%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 10px 3px aqua, 0 0 10px 3px aqua inset;
    }
    40%{
        border-color: transparent;
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 10px 3px aqua, 0 0 10px 3px aqua inset;
    }
    75%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 2px white, 0 0 2px white inset, 0 0 5px aqua, 0 0 5px aqua inset;
    }
    100%{
        border-color: rgb(43, 43, 43);
        background-color: white;
        box-shadow: 0 0 5px 1px white, 0 0 5px 1px white inset, 0 0 10px 3px aqua, 0 0 10px 3px aqua inset;
    }
}

@keyframes inner-clamp-anim{
    0%{
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        background-color: white;
        box-shadow: 0 0 3px 1px aqua;
    }
    20%{
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        background-color: white;
        box-shadow: 0 0 3px 1px aqua;
    }
    40%{
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        background-color: white;
        box-shadow: 0 0 3px 1px aqua;
    }
    75%{
        background-color: white;
        box-shadow: 0 0 1px 1px aqua;
    }
    100%{
        background-color: white;
        box-shadow: 0 0 3px 1px aqua;
    }
}

@keyframes inner-circle-anim{
    0%{
        background-color: transparent;
        box-shadow: 0;
    }
    10%{
        background-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 20px aqua, 0 0 10px aqua;
    }
    20%{
        background-color: transparent;
        box-shadow: 0;
    }
    30%{
        background-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 20px aqua, 0 0 10px aqua;
    }
    40%{
        background-color: transparent;
        box-shadow: 0;
    }
    50%{
        background-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 20px aqua, 0 0 10px aqua;
    }
    75%{
        background-color: white;
        box-shadow: 0 0 10px aqua inset, 0 0 5px aqua inset, 0 0 10px aqua, 0 0 5px aqua;
    }
    100%{
        background-color: white;
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 20px aqua, 0 0 10px aqua;
    }
}

@keyframes outer-spin-fx{
    from{
        transform: rotate(360deg) scale(1);
    }
    to{
        transform: rotate(0deg) scale(1.13);
    }
}

@keyframes screw-spin-fx{
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes final-glow{
    from{
        box-shadow: 0 0 20px aqua inset, 0 0 10px aqua inset, 0 0 30px aqua, 0 0 20px aqua;
    }
    to{
        box-shadow: 0 0 30px aqua inset, 0 0 20px aqua inset, 0 0 60px aqua, 0 0 45px aqua;
    }
}